<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkContentExists()">Check Movie</button>


<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<section>
<h1>Empty</h1>
<app-content-card *ngFor="let contentItem of contentItems | type: ''" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Romantic</h1>
<app-content-card *ngFor="let contentItem of contentItems | type: 'Romantic'" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Drama</h1>
<app-content-card *ngFor="let contentItem of contentItems | type: 'Drama'" [contentItem]="contentItem"></app-content-card>
</section>