.content-card {
  border: 1px solid #333;
  padding: 10px;
  margin: 10px;
}

.first-item {
  border: 2px solid #333;
  padding: 15px;
  margin: 20px;
}

h1{
  background-color: blue;
}

h1:nth-of-type(2){
  background-color: rgb(112, 68, 68);
}

h1:last-of-type{
 background-color: rgb(93, 152, 93);
}

section{
  background-color: rgb(77, 193, 193);
  color: rgb(94, 255, 0);
}
section:nth-of-type(2){
  background-color:rgb(101, 72, 227);
  color:rgb(247, 253, 64);
}
section:last-of-type{
  background-color:rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}